---
---

@import "{{ site.theme }}";

.main-content h3, .main-content h2 {
    color: #674cdd;
}

.page-header {
    background-color: #101725;
    background-image: linear-gradient(120deg, #0E121F, #101725);
}

.main-content h3 img {
    vertical-align: sub;
}

.project-name {
    font-size: 0;
}

#logo-title {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 0.4;
    margin: 8px 0 30px 0;
}

